/* styles.css */

    /* Heading style */
h1 {
    text-align: center;
    font-size: 100px;
    background-color: #db3b3b;
    padding: 30px;
    margin: 0px;
}

    /* Navigation bar styles */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-block: 2px solid #db3b3b;
    border-radius: 30px;
}

.nav li {
    display: inline;
    margin: 50px;
    padding: 90px;
    /* Adjust the spacing between menu items */
}

.nav li a {
    color: black;
}
    /* Main image styles */
.cinema {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 68%;
}

header {
    padding: 20px;
    margin: 20px;
    font-size: 25px;
}

p {
    font-size: 25px;
}

li {
    font-size: 20px;
}

.main-content {

    display: inline;
    width: 100%;

}

.movies-bar {
    border: 3px dashed #db3b3b;
    border-radius: 20px;
}

.images {
    margin: 30px;
    align-items: center;
}

.Movie-image {
    width: 213px;
    /* Set a fixed width */
    height: 300px;
    /* Set a fixed height */
    margin-right: 10px;
}
.images img:hover{
    position: relative;
    top: -6px;
}

footer h2 {
    display: inline;
    border: 1px solid black;

}

footer {
    padding: 20px;
    margin: 10px;
    display: block;
}

h2 {
    text-align: center;
    font-size: 40px
}
address{
    font-size: 30px;
    margin: 10px;
}